{% extends "::base.html.twig" %}

{% block title %}ContactBook: Add Address {% endblock %}

{% block body %}
    
    <h1> Address </h1>
        {{ form_start(formAddress)}}
        {{ form_widget(formAddress)}}
        {{ form_end(formAddress)}}<br>
    
    <a href="/">Show all contact</a>
    
{% endblock %}